.client__list {
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: $item-card;
}

.client .client__item {
  width: 170px;
  height: 92px;
  text-align: center;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $icon-fill;
  border: 1px solid $icon-fill;
  border-radius: 4px;

  transition: color 250ms $animation-cubic, border 250ms $animation-cubic;
}
.client__icon {
  fill: currentColor;
}

.client__link:hover,
.client__link:focus {
  border-color: $accent-color;
  color: $accent-color;
}
