.logo {
  display: inline-block;
  color: $primary-text-color;
  font-family: Raleway;
  /* font-style: 400; */
  /* font-weight: 700; */
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--accent {
  color: $accent-color;
}
